body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.authenticated {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}


.title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

#password-match-message {
    color: red;
    font-size: 0.9em;
}

.container {
    display: flex;
    height: 100vh;
}

.form-container {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    padding-top: 75px;
}

.register-form-box {
    width: 90%;
    max-width: 400px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-10px);
}

.login-form-box {
    width: 90%;
    max-width: 400px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.form-group img {
    display: none;
    max-width: 150px;
    max-height: 50px;
    margin-left: 10px;
}

.picture-input-wrapper {
    display: flex;
    align-items: center;
}

#preview {
    display: none;
    max-width: 100px;
    max-height: 50px;
    margin-left: 10px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #e74c3c;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
}

.register-btn {
    display: block;
    width: 95%;
    text-decoration: none;
    text-align: center;
}

.image-container {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: auto;
}

.image-container img {
    width: 600px;
    height: 740px;
}