.content-wrapper {
    margin-top: 150px;
    padding: 20px;
}

.rating {
    color: #e74c3c;
    margin-bottom: 10px;
}

.no-recipes {
    text-align: center;
    padding: 50px;
}

.add-recipe-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e74c3c;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}