body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    text-align: center;
}

.header2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    background-color: #404040;
    position: fixed;
    width: 100%;
    padding-bottom: 100px;
  }
  
  .header-image {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-image a {
    text-decoration: none;
    color: white;
    text-align: center;

  }
  
  .caption {
    margin-top: 8px;
    font-size: 20px;
    font-weight: bold;
  }