{% extends 'Recipes/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Add Your Recipe
{% endblock %}

{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/addRecipe.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/baseStyle.css' %}">
{% endblock %}

{% block script_block %}
<script src="{% static 'javascript/previewImage.js' %}" defer></script>
<script src="{% static 'javascript/ingredients.js' %}" defer></script>
{% endblock %}

{% block body_block %}
<div class="page-container">
    <div class="header2">
        <h1>Share Your Recipe</h1>
    </div>

    <div class="form-container">
        {% if user.is_authenticated %}
            <div class="form-recipe">
                <form method="post" action="{% url 'Recipes:add_recipe' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    {% comment %} Area to input new recipe data {% endcomment %}
                    {% comment %} Recipe name input {% endcomment %}
                    <div class="form-section">
                        <div class="form-group">
                            <label for="id_recipe_name">Recipe Name:</label>
                            {{ form.recipe_name }}
                            {% if form.recipe_name.errors %}
                            <div class="error-message">
                                {% for error in form.recipe_name.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        </div>

                        {% comment %} Cuisine type input - 
                                      limited to Chinese, French, Italian and Mexican by forms
                        {% endcomment %}
                        <div class="form-row">
                            <div class="form-group half">
                                <label for="id_cuisine">Cuisine Type:</label>
                                {{ form.cuisine }}
                            </div>
                            <div class="form-group half">
                                <label for="id_difficulty">Difficulty Level:</label>
                                {{ form.difficulty }}
                            </div>
                        </div>

                        <div class="form-row">
                            {% comment %} Cuisine type input - must be greater than 0 through forms {% endcomment %}
                            <div class="form-group half">
                                <label for="id_time_taken">Cooking Time (mins):</label>
                                {{ form.time_taken }}
                            </div>

                            {% comment %} Number of serving input - greater than 1 via forms {% endcomment %}
                            <div class="form-group half">
                                <label for="id_portion">Number of Servings:</label>
                                {{ form.portion }}
                            </div>
                        </div>
                    </div>

                    {% comment %} ingredients section handled by ingredients.js - allows users to add/remove ingredient fields {% endcomment %}

                    <div class="form-section">
                        <h4>Ingredients</h4>
                        <div id="ingredients-container">
                            <div class="ingredient-row form-row">
                                {% comment %} Text input for the ingredient name {% endcomment %}
                                <div class="form-group half">
                                    <label>Ingredient Name:</label>
                                    {{ ingredient_form.ingredient_name }}
                                </div>
                                {% comment %} Number input for quantity {% endcomment %}
                                <div class="form-group half">
                                    <label>Quantity in grams:</label>
                                    {{ ingredient_form.quantity }}
                                </div>
                            </div>
                        </div>
                        <button type="button" class="add-ingredient-btn" id="add-ingredient">Add Extra Ingredient</button>
                    </div>

                    <div class="form-section">
                        <div class="form-group">
                            {% comment %} Text input for cooking instructions - placeholder in forms {% endcomment %}
                            <label for="id_instructions">Cooking Instructions:</label>
                            {{ form.instructions }}
                        </div>
                    </div>

                    {% comment %} Recipe photo input with JavaScript to preview the image - javascript/previewImage.js {% endcomment %}

                    <div class="form-section">
                        <div class="form-group">
                            <label for="id_picture">Recipe Photo:</label>
                            <div class="image-upload">
                                {{ form.picture }}
                                <div class="preview-container">
                                    <img id="preview" src="#" alt="Recipe preview">
                                    <p class="preview-text">No image selected</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% comment %} Button to submit recipe {% endcomment %}

                    <div class="form-actions">
                        <button type="submit" class="submit-btn">Share Recipe</button>
                        <a href="{% url 'Recipes:recipes' %}" class="cancel-btn">Cancel</a>
                    </div>
                </form>
            </div>
        {%endif%}
    </div>
</div>

{% endblock %}
