<!DOCTYPE html>
{% load static %}


<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/baseStyle.css' %}">
        <title>
            RecipeSite - 
            {% block title_block %}
            {% endblock %}
        </title>
    </head>

    <body>
        <div>
            <ul>
                <li><a href="{% url 'Recipes:test' %}">Home</a></li>
                <li><a href="{% url 'Recipes:test' %}">Recipes</a></li>
                <li><a href="{% url 'Recipes:test' %}">Search</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'Recipes:test' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'Recipes:test' %}">Login</a></li>
                {% endif %}

            </ul>
        </div>
        <div>
            {% block body_block %}
            {% endblock %}
        </div>

    </body>
</html>