{% extends 'Recipes/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Create an Account
{% endblock %}
{% block body_block %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/loginAndRegister.css' %}">
    <script src="{% static 'javascript/register.js' %}" defer></script>
    {% endblock %}



<div class="container">
    <div class="form-container">
        <div class="register-form-box">
            {% if user.is_authenticated %}
            <!-- user already logged in, display message and redirect links -->
            <div class="authenticated">
                Thank you for logging in!<br><br> 
                Why not <a href="{% url 'Recipes:recipes' %}">check out some recipes?</a>
                <br>
                <br>
                <a href="{% url 'Recipes:home' %}">Return to the homepage.</a><br />
            </div>
            
            {% elif registered %}
            <!-- user just created account, display message and redirect links -->
            <div class="authenticated">
                Registration successful!
                <br><br> 
                <a href="{% url 'Recipes:login' %}" class="btn">Log In</a>
            </div>
            {% else %}
            <!-- user not logged in and hasnt created account -->
            <div class="title">
            Register here!<br />
            </div>
            <form id="user_form" method="post" action="{% url 'Recipes:create_account' %}" 
                enctype="multipart/form-data">

                {% csrf_token %}

                <!-- username input -->
                <div class="form-group">
                    <label for="id_username">Username:</label>
                    {{ user_form.username }}
                </div>

                <!-- email input -->
                <div class="form-group">
                    <label for="id_email">Email:</label>
                    {{ user_form.email }}
                </div>

                <!-- password input -->
                <div class="form-group password-group">
                    <label for="id_password">Password:</label>
                    <input type="password" id="id_password" name="password" />
                </div>

                <!-- confirm password input -->
                <div class="form-group password-group">
                    <label for="id_confirm_password">Confirm Password:</label>
                    <input type="password" id="id_confirm_password" name="confirm_password" />
                    <span id="password-match-message"></span>
                </div>
                
                <!-- optional profile picture input -->
                <div class="form-group">
                    <label for="id_picture">Profile Picture:</label>
                    <div class="picture-input-wrapper">
                        <input type="file" id="id_picture" name="picture" />
                        <img id="preview" src="#" alt="Profile picture preview">
                    </div>
                </div>
                
                <!-- submit button -->
                <input type="submit" name="submit" value="Register" class="btn" />
            </form>

            <div>
                <br>
                Already got an account?
                <a href="{% url 'Recipes:login' %}" class="btn register-btn">Log In</a>
            </div>
            {% endif %}
        </div>
    </div>

    <!-- static image for right side of page -->
    <div class="image-container">
        <img src="{% static 'images/loginPage.jpg' %}" alt="Picture of curry">
    </div>

</div>
{% endblock %}

