{% extends 'Recipes/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
{% endblock %}

{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

{% block script_block %}
<script src="{% static 'javascript/preventScroll.js' %}" defer></script>
{% endblock %}

{% block body_block %}
<div class="container">
    <div class="left-side">
        <div class="text">
            <div class="intro">
                <!-- display welcome message that differs based on username and if logged in -->
                {% if user.is_authenticated %}
                <h1>Welcome, {{ user.username }}!</h1>
                {% else %}
                <h1>Welcome!</h1>
                {% endif %}
            </div>

            <div class="info">
                <!-- text description of the website -->
                <h2>Explore the Best Recipes from Around the World</h2>
                <p>Your ultimate online cookbook—where food lovers unite!</p>

                <p>Welcome to the best online recipe collection! Whether you're an aspiring home cook, a seasoned chef, <br>or just someone who loves food, you've come to the right place.</p>

                <ul>
                    <li>🌍 Explore authentic recipes from different cultures.</li>
                    <li>👨‍🍳 Learn new cooking techniques and tips.</li>
                    <li>🍽️ Share your own creations with a passionate community.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="recipe-container">
        <br><br>
        <div class="popular-recipe">
            <!-- if there is a most popular recipe, display the recipe image as a url to the recipe -->
            {% if popular_recipe %}
            <a href="{% url 'Recipes:show_recipe' popular_recipe.slug %}">
                <img src="{{ popular_recipe.picture.url }}" alt="{{ popular_recipe.recipe_name }}" height="200", width="300"/><br>
                <p>Check out our most popular recipe.</p>
            </a>
            {% else %}
            <p>No popular recipe available.</p>
            {% endif %}
        </div>

        <div class="random-recipe">
            <!-- selects a random recipe and displays the recipe image as a url to the recipe -->
            {% if random_recipe %}
            <a href="{% url 'Recipes:show_recipe' random_recipe.slug %}">
                <img src="{{ random_recipe.picture.url }}" alt="{{ random_recipe.recipe_name }}" height="200", width="300"/><br>
                <p>Or why not check out this random recipe.</p>
            </a>
            {% else %}
            <p>No random recipe available.</p>
            {% endif %}
        </div>

        <!-- links to main parts of the website -->
        <div class="explore">
            Check out all of our recipes <a href="{% url 'Recipes:recipes' %}">here!</a>
            <br><br>
            Feeling creative?<br>
            <a href="{% url 'Recipes:add_recipe' %}">Add your own</a> recipe for others to see!
        </div>
    </div>
</div>
{% endblock %}
