{% extends 'Recipes/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
{% endblock %}

{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

{% block body_block %}
<div class="container">
    <div class="form-container">
        <div class="form-box">
            
            
            <h1>Recipe Explore</h1>
            

            <p>The most comprehensive food website</p>
            <p>Expect your participation</p>
            <br>
            <div class="signin-button">
                <a href="{% url 'Recipes:login' %}" class="btn">Sign In</a>
                <a href="{% url 'Recipes:create_account' %}" class="btn">Create Account</a>
            </div>
        </div>
    </div>

    <div class="image-container">
        <img src="{% static 'images/HomeFood.jpg' %}" alt="Picture of ingredients">
    </div>
</div>
{% endblock %}
