{% extends 'Recipes/base.html' %}
{% load staticfiles %}


{% block title_block %}
    Login
{% endblock %}

{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

{% block body_block %}
<div class="container">

    <div class="form-container">
        <div class="form-box">
            
            {% if user.is_authenticated %}
            <div class="authenticated">
                Thank you for logging in!<br><br> 
                Why not <a href="{% url 'Recipes:recipes' %}">check out some recipes?</a>
                <br>
                <br>
                <a href="{% url 'Recipes:home' %}">Return to the homepage.</a><br />
            </div>
            {% else %}
            <div class="title">
                Log in here!<br />
            </div>
            <form id="login_form" method="post" action="{% url 'Recipes:login' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" />
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" />
            </div>
            <input type="submit" class="btn" value="Sign In" />
            {% if login_error %}
            <div class="error">{{ login_error }}</div>
            {% endif %}
            {% if disabled_error %}
            <div class="error">{{ disabled_error }}</div>
            {% endif %}
            </form>


            <div>
                <br>
                Not got an account?
                <a href="{% url 'Recipes:create_account' %}" class="btn register-btn">Register</a>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="image-container">
        <img src="{% static 'images/loginPage.jpg' %}" alt="Picture of curry">
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
    document.body.style.overflow = "hidden";
    document.documentElement.style.overflow = "hidden";
});
</script>
{% endblock %}
