{% extends 'Recipes/base.html' %}
{% load staticfiles %}


{% block title_block %}
    Recipes
{% endblock %}

{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/recipes.css' %}">
{% endblock %}

{% block body_block %}
<div class="header2">
    <div class="header-image">
        <a href="{% url 'Recipes:most_popular' %}">
        <img src="{% static 'images/MostPopularImg.jpg' %}" alt="Picture of pasta" width="250" height="80">
        <div class="caption">Most Popular</div>
        </a>
    </div>
    <div class="header-image">
        <a href="{% url 'Recipes:favourites' %}">
        <img src="{% static 'images/YourFavourites.jpg' %}" alt="Picture of steak" width="250" height="80">
        <div class="caption">Your Favourites</div>
        </a>
    </div>
    <div class="header-image">
        <a href="{% url 'Recipes:add_recipe' %}">
        <img src="{% static 'images/AddYourRecipe.jpg' %}" alt="Picture of food prep" width="250" height="80">
        <div class="caption">Add Your Recipe</div>
        </a>
    </div>
</div>  
<br>
<br>
<br>

<div id="content-wrapper">
    {% if search_query %}
        <h2>Search Results for "{{ search_query }}"</h2>
        {% if recipes %}
            {% for recipe in recipes %}
                <div class="recipe-card">
                    <h3>{{ recipe.recipe_name }}</h3>
                    <a href="{% url 'Recipes:show_recipe' recipe.slug %}">View Recipe</a>
                </div>
            {% endfor %}
        {% else %}
            <h2>No recipes found for "{{ search_query }}". Showing all recipes instead:</h2>
            {% if all_recipes %}
                {% for recipe in all_recipes %}
                    <div class="recipe-card">
                        <h3>{{ recipe.recipe_name }}</h3>
                        <a href="{% url 'Recipes:show_recipe' recipe.slug %}">View Recipe</a>
                    </div>
                {% endfor %}
            {% else %}
                <p>No recipes available yet. Be the first to add one!</p>
            {% endif %}
        {% endif %}
    {% else %}
        <h2>All Recipes</h2>
        {% if recipes %}
            {% for recipe in recipes %}
                <div class="recipe-card">
                    <h3>{{ recipe.recipe_name }}</h3>
                    <a href="{% url 'Recipes:show_recipe' recipe.slug %}">View Recipe</a>
                </div>
            {% endfor %}
        {% else %}
            <p>No recipes available yet. Be the first to add one!</p>
        {% endif %}
    {% endif %}
</div>

{% endblock %}
