{% extends 'Recipes/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Your Favourites
{% endblock %}

{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/baseStyle.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/yourFavourites.css' %}">
{% endblock %}

{% block body_block %}
<div class="header2">
    <h1>Your Favourite Recipes</h1>
</div>

<div class="content-wrapper">
    {% if user.is_authenticated %}
        {% comment %} Display favourited recipes if the user has added any - must be logged in {% endcomment %}
        {% if Recipes %}
            <div class="recipe-grid">
                {% for recipe in Recipes %}
                    <div class="recipe-card">
                        {% comment %} Clickable recipe image {% endcomment %}
                        <div class="recipe-image">
                            <a href="{% url 'Recipes:show_recipe' recipe.slug %}"><img src="{{ recipe.picture.url }}" alt="{{ recipe.recipe_name }}"></a>
                        </div>

                        {% comment %} Recipe Info {% endcomment %}
                        <div class="recipe-info">
                            <h2>{{ recipe.recipe_name }}</h2>
                            <p>Cuisine: {{ recipe.cuisine }}</p>
                            <p>Time: {{ recipe.time_taken }} minutes</p>
                            <a href="{% url 'Recipes:show_recipe' recipe.slug %}" class="main-btn">View Recipe</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            {% comment %} Displayed if a user has not added any favourites {% endcomment %}
            <div class="auth-message">
                <p>You haven't added any recipes to your favourites yet!</p>
                <p>Browse our <a href="{% url 'Recipes:recipes' %}">recipes</a> to find some favourites.</p>
            </div>
        {% endif %}
    {% else %}
        {% comment %} If user is not logged in, redirect them to the login page {% endcomment %}
        <div class="auth-message">
            <p>Please <a href="{% url 'Recipes:login' %}">log in</a> to see your favourite recipes.</p>
        </div>
    {% endif %}
</div>
{% endblock %}